{{ define "main" }}
<section class="hero container">
<h1>{{ .Site.Title }}</h1>
<p>{{ .Site.Params.description }}</p>
</section>


<section class="matches container">
<h2>Próximos partidos</h2>
<div class="grid">
{{ $p := where .Site.RegularPages "Section" "matches" }}
{{ range $p }}
{{ partial "match-card.html" . }}
{{ end }}
</div>
</section>


<section class="live-events container">
<h2>Live Events</h2>
<!-- simple live list: filter pages with status == live -->
<ul>
{{ range where .Site.RegularPages "Params.status" "live" }}
<li><a href="{{ .Permalink }}">{{ .Title }} — {{ .Params.league }}</a></li>
{{ end }}
</ul>
</section>
{{ end }}